<section class="food_section layout_padding-bottom">
    <div class="filters-content">
        <div class="row grid">
            <div class="col-sm-6 col-lg-4">
                <app-product-cart></app-product-cart>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-product-cart></app-product-cart>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-product-cart></app-product-cart>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-product-cart></app-product-cart>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-product-cart></app-product-cart>
            </div>
        </div>
    </div>
</section>