<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="../../../../assets/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            {{'About Us' | translate}}
                        </h2>
                    </div>
                    <p>
                        {{'We have developed a platform where companies can register to our system to sell products or buy products from different international companies. Our vision is to contribute to the countrys economy and at the same time to ensure that companies grow and contribute to the countrys economy.' | translate}}
                    </p>
                    <a href="">
                        {{'Read More' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row my-5">
    <div class="col text-center pt-4">
        <h2>{{'All international companies meet at one point' | translate}}</h2>
    </div>
    <div class="col text-center">
        <img src="../../../../assets/images/about2.jpg" width="100%" class="about-img mx-auto rounded-lg">
    </div>
    
</div>
<hr>
<!-- end about section -->