<div class="hero_area">
  <div style="position: absolute !important; top: 0px !important; z-index: -2;" class="bg-box">
    <img style="position: absolute !important; top: 0px !important; z-index: -2;"
      src="../../../../assets/images/hero-bg.jpg" alt="">
  </div>
  <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1 class="carousel-title">
                    {{'Welcome to the international marketing platform' | translate}}
                  </h1>
                  <p>
                    {{'You can buy products from international companies or sell your own product.' | translate}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1 class="carousel-title">
                    {{'Foreign trade deficit increased by 51.3% in July' | translate}}
                  </h1>
                  <p>
                    {{'In July, foreign trade deficit increased by 51.3% compared to the same month of the previous year and rose from 2 billion 827 million dollars to 4 billion 278 million dollars. While the import coverage ratio of exports was 84.0% in July 2020, it decreased to 79.3% in July 2021.' | translate}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1 class="carousel-title">
                    {{'It is now very easy to manage the products of your company easily' | translate}}
                  </h1>
                  <p>
                    {{'In order to increase the sales of your company, you can easily save your product information to the system. Thanks to the artificial intelligence used in the registration phase, we offer you price estimation services in order to obtain the highest profit rate according to the supply demand ratio of your products.' | translate}}
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      {{'View Products' | translate}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>
    </div>

  </section>
  <!-- end slider section -->
</div>

<app-offer></app-offer>

<!-- food section -->

<section class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center mt-5">
      <h2>
        {{'Our Products' | translate}}
      </h2>
    </div>

    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4" *ngFor="let item of product; let i=index">
          <a [routerLink]='["product",item.Id]' *ngIf="i<6">
          <app-product-cart [item]="item"></app-product-cart>
        </a>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        View More
      </a>
    </div>
  </div>
</section>

<!-- end food section -->

<!-- about section -->

<app-about></app-about>

<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        {{'Your Complaints and Suggestions' | translate}}
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="">
            <div>
              <input type="text" class="form-control" placeholder="{{'Your Name' | translate}}" />
            </div>
            <div>
              <input type="text" class="form-control" placeholder="{{'Phone Number' | translate}}" />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="{{'Your Email' | translate}}" />
            </div>
            <div>
              <textarea type="text" rows="5" class="form-control h-auto" placeholder="{{'Explanation' | translate}}" ></textarea>
            </div>
            <div class="btn_box">
              <button>
                {{'Send' | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container ">
          <div id="googleMap"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->