<div class="box">
        <div>
            <div class="img-box">
                <img src="https://images-wine.vercel.app/{{item.ImagePath}}" style="width: 100% !important; height: 100% !important; object-fit: cover !important;" alt="">
            </div>
            <div class="detail-box">
                <h5>
                    {{item.ProductName}}
                </h5>
                <p>
                   {{item.Description}}
                </p>
                <div class="options">
                    <h6>
                        ${{item.Price}}
                    </h6>
                    <a href="">
                        {{'View' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>